/* 添加 CSS */
.interest {
        font-style: italic;
}
ul {
        list-style: none;
        padding-left:0px;
}
span {
        font-weight: bold;
}
body {

        border-style: solid;
        border-color: #c2c2c2;
        border-width: 1px;
        padding: 10px 10px 10px 10px;
        width: 305px;
        box-shadow: 5px 5px 10px grey
}
img{
        width: 300px;
        border-style: solid;
        border-color: #c2c2c2;
        border-width: 1px;
        padding: 1px 1px 1px 1px
}
.txtBorder{
        border-style: solid;
        border-color: #c2c2c2;
        border-width: 1px;
        padding: 10px 1px 10px 1px;
        width: 300px;
        font-size:smaller;
}
